USE [SQL_Training]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/1/2019 4:23:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [char](1) NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[EmailId] [varchar](50) NOT NULL,
	[PostalCode] [varchar](50) NOT NULL,
	[Retired] [bit] NOT NULL CONSTRAINT [deft_ct]  DEFAULT ((0)),
	[StateName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Gender]='F' OR [Gender]='M'))
GO
